profiles {
   
    setonix {
        
        process {
            executor = 'local'
            module = ['singularity/3.11.4-slurm']

	        cache = 'lenient'
            stageInMode = 'symlink'

            withName: run_selavy {
                executor = 'slurm'
                queue = 'work'
                clusterOptions = '--nodes=9 --ntasks-per-node=4 --mem-per-cpu=32G --account=ja3 --time=24:00:00'
                module = ['singularity/3.11.4-mpi']
            }

            withName: run_lhr {
                executor = 'slurm'
                queue = 'work'
                clusterOptions = '--nodes=1 --ntasks-per-node=32 --mem-per-cpu=4G --account=ja3 --time=24:00:00'
                module = ['singularity/3.11.4-slurm']
            }

            withName: casda_download {
                executor = 'slurm'
                queue = 'copy'
                clusterOptions = '--nodes=1'
                module = ['singularity/3.11.4-slurm']
            }
	     
	    }

        params {
            SCRATCH_ROOT = "/scratch/ja3/emu/"
            IMAGES = "/scratch/ja3/emu/images/"
        }

        workDir = "/scratch/ja3/emu/workdir/"
        tmpDir = "/scratch/ja3/emu/workdir/tmp"

        process.module = 'singularity'
        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
            cacheDir = "/scratch/ja3/emu/images/"	
        }

        docker.enabled = false
    }

    
    carnaby {
    
        process {
            executor = 'local'
            queue = 'cpu'
            clusterOptions = ''

            module = ['singularity/3.10.3']

            withName: run_lhr_islands {
                executor = 'slurm'
                queue = 'cpu'
                clusterOptions = '--nodes=1'
            }

            withName: run_lhr_components {
                executor = 'slurm'
                queue = 'cpu'
                clusterOptions = '--nodes=1'
            }

            withName: run_selavy {
                executor = 'slurm'
                queue = 'cpu'
                clusterOptions = '--nodes=16 --ntasks-per-node=4'
                module = ['mpich/4.0', 'singularity/3.10.3']
            }

        }
	
        params {
            SCRATCH_ROOT = "/mnt/shared/emu/"
            IMAGES = "/mnt/shared/emu/images/"
        }

        workDir = "/mnt/shared/emu/workdir/"
        tmpDir = "/mnt/shared/emu/workdir/tmp"
	
        process.module = 'singularity'
        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
            cacheDir = "/mnt/shared/emu/images"
        }
        docker.enabled = false
    }
}
