profiles {
   
    setonix {

    	process {
            cache = 'lenient'
            stageInMode = 'symlink'
    	}
        
        process {
        	executor = 'local'
        	clusterOptions = "--nodes=1 --account=ja3 --mem-per-cpu=128G --time=24:00:00"
        	queue = 'work'

        	module = ['singularity/3.8.6']

        	withName: run_selavy {
			module = ['singularity/3.8.6']
			executor = 'slurm'
			clusterOptions = '--nodes=12 --ntasks-per-node=6 --account=ja3 --mem-per-cpu=128G --time=24:00:00'
			queue = 'work'
        	}
	    }

        params {
            SCRATCH_ROOT = "/scratch/ja3/emu/"
            IMAGES = "/scratch/ja3/emu/images/"
        }

        workDir = "/scratch/ja3/emu/workdir/"
        tmpDir = "/scratch/ja3/emu/workdir/tmp"

        process.module = 'singularity'
        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
            cacheDir = "/scratch/ja3/emu/images/"	
        }

        docker.enabled = false  
    }

    
    carnaby {
    
        process {
            executor = 'local'
            queue = 'cpu'
            clusterOptions = ''

            module = ['singularity/3.10.3']

            withName: run_selavy {
                module = ['mpich/4.0', 'singularity/3.10.3']	
                executor = 'slurm'
                clusterOptions = '--nodes=12 --ntasks-per-node=6'
                queue = 'cpu'
            }
        }
	
        params {
            SCRATCH_ROOT = "/mnt/shared/emu/"
            IMAGES = "/mnt/shared/emu/images/"
        }

        workDir = "/mnt/shared/emu/workdir/"
        tmpDir = "/mnt/shared/emu/workdir/tmp"
	
        process.module = 'singularity'
        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
            cacheDir = "/mnt/shared/emu/images"
        }
        docker.enabled = false
    }
}
