parameter	value
name_col    'id'
ra_col		'ra_deg_cont'
dec_col		'dec_deg_cont'
Speak_col	'flux_peak'
Stot_col	'flux_int'
maj_col		'maj_axis_deconv'
min_col		'min_axis_deconv'
pa_col		'pos_ang_deconv'
min_brightness	0.5
min_size_lobe	15
max_size_core	1
data_format	'votable'


